<a href="https://colab.research.google.com/github/efemeryczny/network_analysis/blob/main/network_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
excel_file_path = '/content/drive/MyDrive/Colab Notebooks/wig_dane/wig_dane_full.xlsx'
data = pd.read_excel(excel_file_path)
data.to_csv('wig_dane.csv', index=False)

In [9]:
wig_dane = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/wig_dane/wig_dane.csv')
wig_dane

,Lp,shareholder,ownership,number_of_shares,Ostatnia zmiana,value,wza_ownership,Liczba gĹ‚osĂłw,Ostatnia zmiana.1,Data aktualizacji,ticker,spolka
0,1,PZU SA,31.91%,41658850.0,0.0,1.81 mld,31.91%,41658850.0,0.0,2022-11-04 00:00:00,ALR,ALIOR
1,2,OFE Nationale-Nederlanden,9.34%,12196509.0,-198000.0,531 mln,9.34%,12196509.0,-198000.0,2022-12-30 00:00:00,ALR,ALIOR
2,3,OFE Allianz Polska,8.83%,11526440.0,9607180.0,502 mln,8.83%,11526440.0,9607180.0,2023-05-16 00:00:00,ALR,ALIOR
3,4,OFE PKO BP Bankowy,4.76%,6209081.0,70943.0,270 mln,4.76%,6209081.0,70943.0,2022-12-30 00:00:00,ALR,ALIOR
4,5,OFE NNLife,3.45%,4502562.0,0.0,196 mln,3.45%,4502562.0,0.0,2022-12-30 00:00:00,ALR,ALIOR
...,...,...,...,...,...,...,...,...,...,...,...,...
1947,9,TFI Santander SA,0.05%,24232.0,0.0,521 tys,0.05%,24232.0,0.0,2022-12-31 00:00:00,ZEP,ZEPAK
1948,10,TFI BNP Paribas SA,0.04%,21692.0,0.0,466 tys,0.04%,21692.0,0.0,2022-12-31 00:00:00,ZEP,ZEPAK
1949,11,TFI Uniqa SA,0.01%,6429.0,-10775.0,138 tys,0.01%,6429.0,-10775.0,2022-12-31 00:00:00,ZEP,ZEPAK
1950,12,TFI PZU SA,0.01%,5900.0,0.0,127 tys,0.01%,5900.0,0.0,2022-12-31 00:00:00,ZEP,ZEPAK
1951,13,TFI PKO SA,0.01%,5609.0,0.0,121 tys,0.01%,5609.0,0.0,2022-12-31 00:00:00,ZEP,ZEPAK